{%extends 'layout.html' %}
{%block content%}
<div id="collections">
    <ul>
        {% for i in range(1,8) %}
        <li>
            <div class="image" 
                {% if i%2 == 0 %}
                style="background-image:url(http://placekitten.com/201/201);"  
                {% else %}
                style="background-image:url(http://baconmockup.com/200/200);"  
                {% endif %}
                data-collection={{i}} data-title=Gallery-{{i}} />
                <span class=imgcount>10</span>
                <footer>Collection title <time>2012-01-01</time></footer>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
