<div id="login-box" class="login-popup" style="display:none;">
    <header><h3>Please log in</h3><div class=spinner></div></header>
    <form method="post" class="signin" action="">
        <fieldset class="textbox">
        <label> Username
            {{ form_widget(form.username) }}
        </label>
        <label> Password
            {{ form_widget(form.password) }}
        </label>
        <input type="submit" class="submit" value="Login" name="" />
        </fieldset>
      </form>
</div>
