.humane { 
    top: 60px; 
}

@mixin linear-gradient($top, $bottom) {
    background: -webkit-gradient(linear, left top, left bottom, from($top), to($bottom));
    background: -webkit-linear-gradient(top, $top, $bottom);
    background: -moz-linear-gradient(top, $top, $bottom);
    background: -ms-linear-gradient(top, $top, $bottom);
    background: -o-linear-gradient(top, $top, $bottom);
}

@font-face {
    font-family: 'd puntillas B to tiptoe';
    src: url('../fonts/d-puntillas-B-to-tiptoe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html {
    background: url('../images/bg.png');
}
body {
    font-family: sans-serif;
    font-weight: 400;
    height: 100%;
    h1, h2, h3 {
        font-size: 1.5em;
        font-family: 'd puntillas B to tiptoe';
    }

    h1 {
        margin: 0.5em 0em 0.3em 1em;
        font-size: 1.2em;
        float: left;
        color: #900;
        font-weight: 300;

        .subtitle {
            color: #333;
            font-weight: 400;
        }
    }

    h2 {
        // margin: 1em 0em 0.3em 1em;
    }
}

/* Background mask for modal windows */
#mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

.fade {
    opacity: 0.5;
}

header.mainheader { 
    font-family: 'd puntillas B to tiptoe';
    min-height: 3em; 
    max-width: 1125px;

    nav {
        margin: 0.7em 0em 0.3em 1em;
        float: right;
        font-size: 1.1em;

        li {
            float: left;
            // border-right: 2px solid #aaa;
            padding: 0 0.5em;
            a {
                color: #333;
                text-decoration: none;
                padding: 0.3em 0.3em 0.1em 0.3em;
                &:hover {
                    color: #900;
                }
            }

            &:first-child a {
                color: #900;
                padding-left: 0;
            }

            &:last-child {
                border: 0;
                padding-right: 0;
            }
        }
    }
}


section#content {

    max-width: 1125px;
    width: 1125px;
    margin: 0; 
    float: left;

    div.mainimg {
        max-width: 1125px;
        width: 1125px;
        max-height: 737px;
        height: 850px;
        //position: fixed;

        background: {
            image: url(../images/load.gif);
            repeat: no-repeat;
            position: center;
        } 

        nav {
            background: rgba(0,0,0,0.3);

            padding: {
                left: 16px;
                top: 3px;
            }

            height: 13px;
            font-size: 0.7em;

            a {
                color: #fff;
            }

            &:first-child {
                display: none;
            }
        }

        div.filler {
            height: 750px;
        }

    }

    div.admin {

        header {
            height:2.5em;
            margin: { 
                bottom: 16px;
            }

            padding: {
                top: 0.5em;
                left: 1em;
                right: 0.5em;
            }

            background: #ccc;

            input {
                width: 12.5em;
                margin-top: 0em;
                font-size: 1.7em;
                padding: 0.15em;
                color: #fff;
                background: rgba(0,0,0,0.3);
                border: 1px dashed black;
                font-family: monospace;
            }

            h2 {
                border: 0;
                margin: 0;
                // background: #900;
                float: left;
            }

            label {
                margin-left: 16px;
                font-weight: 600;
            }

            nav {
                height: 2em;
                float: right;

                img {
                    height: 1.8em;
                    float: right;
                }

                a {
                    text-decoration: none;
                    margin-left: 0.8em;
                }

                span {
                    float: right;
                    display: block;
                    padding: {
                        top: 0.5em;
                        right: 1em;
                    }
                    // background: #fff;

                }
            }
        }

        ul {
            margin-left: 16px;
            float: left;
            li.adminpreview {

                @include linear-gradient(#f2f2f2, #d9d9d9);
                cursor: grab;
                border-radius: 10%;
                padding: 1em;
                border: 1px solid #ddd;

                float:left;
                max-width: 200px;
                height: 266px;
                margin: {
                    bottom: 30px;
                    right: 30px;
                }

                div {
                    width: 200px;
                    img {
                        display: block;
                        height: 147px;
                        max-width:200px;
                        border: 1px solid black;
                        margin: 0 auto;
                    }
                }

                div {
                    height: 151px;
                }

                footer {
                    font-size: 0.7em;
                    nav {
                        display: block; 
                        width: 200px;
                        float: left;
                        margin-top: 0.5em;
                        img.move {
                            float: left;
                            height: 2.4em;
                            margin-left: -1em;
                            &:hover {
                                cursor: move;
                            }
                        }
                    }
                
                    dl {
                        float: left;
                        color: #800;
                        margin: {
                            top: 0.5em;
                            bottom: 1em;
                        }
                        dt {
                            font-weight: 600;
                            float: left;
                            clear: left;
                            padding-bottom: 5px;
                            width: 5em;
                        }
                        dd { 
                            color: #333;
                            float: left;
                            padding-left: 5px;
                        }
                    }

                    img {
                        border: 0;
                    }
                    img.edit {
                        float: right;
                        margin-right: 1em;
                        height: 2em;
                    }
                    
                    img.marker {
                        float: right;
                        height: 2em;
                    }

                    img.delete {
                        float:right;
                        height: 2em;
                        margin-right: 0.7em;
                    }

                    input {
                        width: 180px;
                        padding: 0 8px;
                        margin: {
                            bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}

footer.previews {
    height: 150px;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
    position: fixed;


    span:hover {
        cursor: pointer;
        color: #fff;
    }

    ul {
        margin: {
            top: 20px;
        }
        padding:0;
        text-indent:0;
        overflow-x: hidden;
        position: absolute;
    }

    li {
        opacity: 0.5;
        width: 100px;
        margin: { 
            left: 10px;
            bottom: 10px;
        }

        padding: 0;
        float: left;
        &:hover {
            opacity: 1;
        }
    }

    div.preview {
        background-size: cover; 
        background-clip: padding-box;
        border: 1px solid black;
        width: 100px;
        height: 100px;
        margin: 0;
        margin-left: 6px;
    }
    
    .selected {
        opacity: 1;
        // div {
        //     border-radius: 10px;
        //     border-color: #f00;
        //     border-width: 4px;
        // }
    }
}

section#sidebar { /* Clearfix */
    overflow: auto;
    padding: 0;
}

div#collections { 
    //position: fixed;
    // border: 1px dashed #999; 
    margin: 0; 
    overflow: auto;
    padding: 0;
    padding-top: 1em;
    background: #aaa;
    width: 100%;

    // &:hover {
    //     border: 1px solid #999;
    // }

    ul { 
        list-style-type: none; 
        margin:0; 
        text-indent: 0; 
        margin: auto; 
        float: left;

        li {
            float: left;
            width: 200px;
            margin: 0em 0em 16px 16px;

            div.image {
                background-size: cover;
                margin-top: 0;
                display: block;
                border: 1px solid black;
                z-index: 1;
                width: 200px;
                height: 200px;
                opacity: 0.3;
                border-radius: 10px 0px 10px 10px;

                &.selected {
                    opacity: 1;
                }

                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }

                span.imgcount {
                    /* margin-top: -173px; */
                    float: right;
                    display: block;
                    z-index: 2;
                    background: rgba(0,0,0,0.2);
                    font-size: 0.8em;
                    padding: 3px;
                    color: #fff;
                }

                footer {
                    font-size: 0.9em;
                    font-weight: 400;
                    margin-top: 160px;
                    background: rgba(200, 200, 200, 0.3);
                    border-bottom: 1px solid #333;
                    border-top: 1px solid #999;
                    color: #fff;
                    padding: 3px 3px;

                    time {
                        font-size: 0.75em;
                        color: #ccc;
                        float: right;
                    }
                }
            }
        }
    }

}



@media screen and (max-width: 1580px) {
    div#collections ul li {
        float: none;
    } 

}

/* You can customize to your needs  */
.login-popup{

border: 1px solid black;
@include linear-gradient(#f2f2f2, #d9d9d9);

-webkit-box-shadow: 21px 24px 100px 2px rgba(255,255,255,0.16), inset 0 100px 100px 18px rgba(255,239,8,0.04);
-moz-box-shadow: 21px 24px 100px 2px rgba(255,255,255,0.16), inset 0 100px 100px 18px rgba(255,239,8,0.04);
box-shadow: 21px 24px 100px 2px rgba(255,255,255,0.16), inset 0 100px 100px 18px rgba(255,239,8,0.04);

-webkit-box-shadow: 21px 24px 100px 2px rgba(255,255,255,0.16), inset 0 1px 0 white;
-moz-box-shadow: 21px 24px 100px 2px rgba(255,255,255,0.16), inset 0 1px 0 white;
box-shadow: 21px 24px 100px 2px rgba(255,255,255,0.16), inset 0 1px 0 white;

	// background: #fff ;
	padding: 10px; 	
	border: 2px solid #ddd;
    border-radius: 15px;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;

    // img.btn_close { 
    // 	float: right; 
    // 	margin: -28px -28px 0 0;
    // }

    header {
        max-height: 1em !important; 
        height: 1em;
        margin-bottom: 0.5em;
        h3 {
            display: inline-block;
            font-size: 0.9em;
            color: #900;
        }

        div {
            opacity: 0;
            display: inline-block;
            float: right;
            width: 16px;
            margin: 0;
            height: 0.5em;
            background: {
                image: url('../images/login.gif'); 
                repeat: no-repeat;
                position: center;
            }
        }
    }

    fieldset { 
        border:none; 
    }

    form.signin {

        p, span { 
            font-size:11px; 
            line-height:18px;
        } 

        input:-moz-placeholder { color:#bbb; }
        input::-webkit-input-placeholder { color:#bbb; }

        .textbox {
            label { 
                font-size: 0.7em;
                font-weight: 600;
                display:block; 
                margin-bottom: 0.6em;
            }
            span { 
                display:block;
            }

            input { 
                display: block;
                margin: {
                    top: 0.2em;
                    bottom: 0.5em;
                } 
                border-bottom:1px solid #333;
                border-left:1px solid #000;
                border-right:1px solid #333;
                border-top:1px solid #000;
                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                font:13px sans-serif;
                padding: 6px;
                width:200px;

                &[type=submit] {
                    margin: {
                        top: 1em;
                        bottom:0;
                    }
                }
                
            }
        }

    }
}


input[type=submit], button {
    width: 200px;
    border-top: 1px solid #000000;
    background: #ffffff;
    padding: 3px 6px !important;
    margin: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    @include linear-gradient(#fff, #eeeedc);

    color: #000000;
    font-size: 0.7em;
    text-decoration: none;
    vertical-align: middle;
    &:hover {
        background: #b0b0b0;
        color: #ffffff;
    }
    &:active {
        border-top-color: #ffffff;
        background: #ffffff;
    }
}

span.ui-button-text {
    font-size: 0.8em;
    color: black;
}

div.ui-dialog-buttonset {
    width: 100%;
    margin: 0 auto;
    button {
        width: 100%;
        height: 2.1em;
    }
}

div#imageDrop {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 9999;
    background: rgba(0,0,0,0.7);
    text-align: center;
    span {
        text-shadow: 0.1em 0.1em 0.1em #333;
        display: block;
        font-size: 3em;
        color: #fff;
    }
}

div#collectionDrop {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 9999;
    background: rgba(100,100,100,0.7);
    text-align: center;
    span {
        text-shadow: 0.1em 0.1em 0.1em #333;
        display: block;
        font-size: 2em;
        color: #fff;
    }
}

ul#collections_model {
    display: none;
}
